@charset "UTF-8";

/* 回答はここに書いてね */
.clearfix:after {
  display: block;
  content: "";
  clear: both;
}

.q2__content {
  width: 940px;
  margin: auto;
  box-sizing: border-box;
  padding: 20px;
  background-color: #eff3f4;
}

.img__left {
  float: left;
  margin-right: 20px;
  margin-bottom: 10px;
}

.img__right {
  float: right;
  margin-left: 20px;
  margin-bottom: 10px;
}

.q2__content__text {
  word-break: break-all;
  font-size: 18px;
  line-height: 22px;
}

/* 回答はここに書いてね */
