@charset "UTF-8";

/* 回答はここに書いてね */

.q5__content {
  position: relative;
  margin: auto;
  width: 500px;
  height: 500px;
  background-color: #ecf1f2;
  font-size: 30px;
  line-height: 100px;
  font-weight: bold;
  text-align: center;
}

 .unity {
  position: absolute;
  width: 100px;
  height: 100px;
}

.cell__1 {
  top: 40px;
  left: 200px;
  background-color: #ffefd3;
} 

.cell__2 {
  top: 120px;
  left: 280px;
  z-index: 1;
  background-color: #7084de;
}

.cell__3 {
  top: 200px;
  left: 360px;
  z-index: 2;
  background-color: #d0ecea;
}

.cell__4 {
  top: 280px;
  right: 120px;
  z-index: 3;
  background-color: #8b7a5e;
}

.cell__5 {
  top: 360px;
  right: 200px;
  z-index: 4;
  background-color: #9fd6d2;
}

.cell__6 {
  top: 280px;
  right:280px;
  z-index: 5;
  background-color: #fffee4;
}

.cell__7 {
  top: 200px;
  right:360px;
  z-index: 6;
  background-color: #deae70;
}

.cell__8 {
  top: 120px;
  left:120px;
  z-index: 7;
  background-color: #de70cf;
}

.cell__8:after {
  content:"" ;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 8;
  width: 20px;
  height: 20px;
  background: #ffefd3;
}

.cell__9{
  position: fixed;
  top: 10px;
  left: 10px;
  background-color: #2b69a3;
}

/* 回答はここに書いてね */
