@charset "UTF-8";

/* 回答はここに書いてね */
.q3__content {
  table-layout: fixed;
  width: 100%;
  text-align: center;
  border-collapse: collapse;
}

.q3__tr:nth-child(odd) {
  background-color: #ecf1f2;
}

.border {
  border-bottom: dashed 2px #000;
}

.q3__content th {
  padding: 10px;
  font-size: 18px;
  line-height: 26px;
  color: #fff;
  background-color: #2244aa;
  border: solid 1px #dedede ;
}

.q3__content td {
  padding: 10px;
  font-size: 16px;
  line-height: 22px;
  border: solid 1px #dedede ;
}

/* 回答はここに書いてね */
